/****** CORE RULES ******/
html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.progress {
  background-image: linear-gradient(to bottom, #1c567c, #206694);
  border-radius: 0 3px 3px 0;
  bottom: 0;
  height: 6px;
  left: 0;
  position: fixed;
  transition: all 0.7s;
  z-index: 100;
}

article {
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: absolute;
  opacity: 0;
  top: 0;
  visibility: hidden;
  width: 100vw;
}

article.active {
  opacity: 1;
  visibility: visible;
}

@keyframes enter-forward {
  0% {
    left: 100vw;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leave-forward {
  0% {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 100vw;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes enter-backward {
  0% {
    left: -100vw;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leave-backward {
  0% {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: -100vw;
    opacity: 0;
    visibility: hidden;
  }
}

h1 {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding: 50px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: pre;
}

section {
  margin: auto 0;
  overflow: auto;
  padding: 25px 50px;
}

section p {
  margin: 20px 0;
}

section img {
  max-width: 100%;
}

.by-side img {
  width: 40%;
}

.by-side img:first-child {
  margin-right: 25px;
}

.by-side img:last-child {
  margin-left: 25px;
}

code {
  background-color: #111;
  border-left: 1vw solid #555;
  color: #FFF;
  display: block;
  font-size: 0.75rem;
  padding: 10px;
  white-space: pre-line;
}

ul, ol {
  margin: 0;
}

li {
  margin-top: 10px;
}

li > ul, li > ol {
  font-size: 0.85rem;
}

a {
  color: #555;
}


/****** HELPER RULES ******/
.white {
  color: white;
}

.small {
  font-size: 0.7rem;
}

.medium {
  font-size: 1rem;
}

.big {
  font-size: 1.4rem;
}

.huge {
  font-size: 2rem;
}

.thin {
  font-weight: 300;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.by-side {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


/****** PRINT RULES ******/
@media print {

  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  @page {
    margin: 0;
    size: landscape;  
  } 

  html, body {
    height: auto;
    overflow: visible;
  }
  
  article {
    opacity: 1;
    position: static;
    visibility: visible;
  }

  .progress {
    display: none;
  }

}





