html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited {
  color: #EEE;
  text-decoration: none;
}

.jumbotron {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
}

.jumbotron > * {
  z-index: 1;
}

.jumbotron::before {
  background-color: #0006;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  opacity: 0.8;
}

.actions {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.action-btn {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: white;
  display: inline-flex;
  font-size: 24px;
  height: 70px;
  padding: 0 20px;
  transition: all 0.7s;
}

.action-btn.secondary {
  background-color: #ff3c00;
}

.action-btn:hover {
  transform: scale(1.1);
}

span.donate-icon {
  font-size: 40px;
  margin-left: 15px;
}

.donate-text {
  color: #DDD;
  margin-top: 20px;
  text-align: center;
}

main {
  margin-top: 50px;
  max-width: 100%;
  width: 800px;
}

.description ul {
  margin: 40px 0;
}

.link {
  border-bottom: 1px solid white;
  display: inline-block;
}